*
!bin
!bin/*
!mail
!mail/imapTunnel.sh
!mail/smtpTunnel.sh
!mail/testSmtp.txt
!mail/ssmtp.conf.example
!.irssi
!.irssi/scripts
!.irssi/scripts/*
!.irssi/config.example
!.irssi/startup.example
!.mutt
!.mutt/*
!.vim/CamelCaseMotion
!.vim/emmet-vim
!.vim/minibufexpl.vim
!.vim/slimv
!.vim/syntastic
!.vim/tagbar
!.vim/VimPyServer
!.bash_profile
!.bashrc
!.inputrc
!.muttrc.example
!.profile
!.screencustomrc
!.screenrc
!.screenrc2
!.vimrc
!.exrc
!.xmaximarc
!commands.txt
!vimperator
!vimperator/.vimperatorrc
!ConEmu64
!ConEmu64/*
!.mailrc
!.mailcap
!.fvwm
!.fvwm/.fvwm2rc
!.Xdefaults
!.Xresources
!.exrc
!.gitignore
!.signature
!.msmtprc.example
!.offlineimaprc
