# want vi to be the default editor for readline                      
set editing-mode vi                                            

# Show all completions even if ambiguos with tab
# set show-all-if-ambiguous on
# menu-complete-display-prefix on

# vi settings                                         
$if mode=vi                
    # normal mode                           
    set keymap vi-command                                 
    # "j": beginning-of-history
    # "l": backward-char
    # "h": forward-char         
    # "G": end-of-history
    # insert mode             
    set keymap vi-insert                          
    "jj": vi-movement-mode # remap escape   
$endif 
